@model MVCRazorApp.Models.LoginViewModel
 
@{ 
    ViewBag.Title = "Admin Login"; 
} 
 
<h2>Add</h2> 
 
 
@using (Html.BeginForm("Login", "Admin", FormMethod.Post ))  
{ 
    @Html.AntiForgeryToken() 
     
    <div class="form-horizontal"> 
        <h4>Product</h4> 
        <hr /> 
        @Html.ValidationSummary(true) 

        <div class="form-group"> 
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" }) 
            <div class="col-md-10"> 
                @Html.EditorFor(model => model.Username) 
                @Html.ValidationMessageFor(model => model.Username) 
            </div> 
        </div> 

		
	
 		<div class="form-group"> 
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2", @onkeypress="onlyDecimal(event,this)" }) 
            <div class="col-md-10"> 
            	@Html.EditorFor(model=>model.Password)
				@Html.ValidationMessageFor(model => model.Password) 
            </div> 
        </div> 	
      		
 
        <div class="form-group"> 
            <div class="col-md-offset-2 col-md-10"> 
                <input type="submit" value="Login" class="btn btn-default" /> 
            </div> 
        </div> 
    </div> 
} 

<div> 
</div> 
 
@section Scripts { 
    @Scripts.Render("~/bundles/jqueryval") 
    @Scripts.Render("~/bundles/jquery")

    <script>

	

	function onlyDecimal(event, input) {
        var code = event.keyCode;
        var result = "" + $(input).val();
        if (result.length > 29) {
            event.preventDefault();
            return false;
        }



        if (!(code == 37 || code == 39 || (code >= 48 && code <= 57) || code == 8 || code == 9 || code == 190 || (code >= 96 && code <= 105))) {
            //Allows ctrl-z/x/c/v
            if (!(event.ctrlKey && (code == 88) || (code == 86) || (code == 67) || (code == 90))) {
                event.preventDefault();
                return false;
            }
        }

        if (code == 190 && result.indexOf('.') >= 0) {
            event.preventDefault();
            return false;
        }
    }
	
	</script>
} 

